.embed_mc_form {
	display: inline-block;
    text-align: center;
    width: 70%;
}
.form-control {
    background-color: rgba(0, 0, 0, 0.67);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    height: 67px;
    width: 510px;
    line-height: 40px;
    float: left;
    margin-right: -30px;
}

.form-control:focus {
	color: #FFF;
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.portfolio-image {
    width: 100%;
    height: 100%;
}   

.img-container {
    position:relative;
}
